@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalizar la barra de desplazamiento en WebKit */
::-webkit-scrollbar {
  width: 6px; /* Barra delgada */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del riel */
}

::-webkit-scrollbar-thumb {
  background: orange; /* Color naranja para el thumb */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: darkorange; /* Un tono más oscuro al hacer hover */
}

/* Personalizar barra de desplazamiento en Firefox */
body {
  scrollbar-width: thin; /* Barra delgada */
  scrollbar-color: orange #f1f1f1; /* Thumb naranja y riel claro */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor ocupe toda la pantalla */
}

.main-content {
  flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
}
